* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.card {
    width: 100%;
    border: 1px solid #00000020;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    transition: 0.4s;
}

.card img {
    width: 100%;
    height: auto;
    /* filter: grayscale(1.5); */
    transition: 0.4s;
}

.card:hover img {
    filter: none;
    transform: scale(1.1) rotateZ(10deg);
}
.card:hover {
    box-shadow: 0px 0px 12px 2px #00000052;
}



.card_title {
    padding: 16px;
}
.card_title h3 {
    font-size: 16px;
    font-weight: bold;
}
.card_price{
  margin-bottom: 10px;
}

.card_price .price{
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.card_price .old_price {
    color: #666;
    font-size: 16px;
    
}
.card_text ul {
    padding-left: 20px;
}
.card_text li {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}
.buy {
    display: inline-block;
    color: blue;
    font-weight: normal;
}

.text-block{
    transform: translateY(-100%);
    background-color: #6666665a;
    transition: 0.4s;
}

.card:hover .text-block{
    transform: translateY(0);
}

.nav-item{
    transition: 0.6s;
}

.nav-item:hover{
    background-color: #6666664a;
}
.nav-item{
    position: relative;
}
.nav-item::after{
    content: '';
    position: absolute;
    bottom: 4px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: 0.4s;
}

.nav-item:hover::after{
     transform: scaleX(1);
}

